.container{
    display: flex;
    margin: 8rem 8rem;
    align-items: center;
    color: #393646;
}

.title{
    color: #393646;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.desc{
    font-size: 1.5rem;
}

.form{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-top: 3rem;
    font-weight: bold;
}

.input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 200px;
  }
  
  .input:focus {
    outline: none;
    border-color: #393646;
    box-shadow: 0 0 0 2px #393646;
  }

  .button {
    width: 200px;
    padding: 10px 20px;
    background-color: #393646;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #6D5D6E;
  }
  
  .button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #4F4557;
  }
  